#ageWrapper {
 
    opacity:1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    background-color: rgba(32,23,19,.7);
    transition: visibility 0s ease-in-out .5s, opacity .5s ease-in-out;
  }
  
  #ageWrapper.ageUnknown {
    visibility: visible;
    opacity: 1;
  }
  
  #agePopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    width: 360px;
    height: 150px;
    margin-top: -105px;
    margin-left: -185px;
    box-sizing: border-box;
  }
  
  #agePopUp a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    display: inline-block;
  }
  
  .ageConfirmed{
    z-index:-1;
    visibility:hidden;
  }