/* .flex-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    padding: 7%;
    border: 2px solid transparent;
}

.american-stack{
    border: 5px solid transparent;
} */

.flex-container div{
    
    width: var(--s);
    background-image: url(https://data.whicdn.com/images/344427429/original.gif);
    background-position: center;
    margin:var(--m);
    height: calc(var(--s)*1.1547);
    display: flexbox;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%,100% 25%, 50% 0%);
    background: transparent;
    margin-bottom: calc(var(--m) - var(--s)*0.2885);
 }

 .flex-container div:nth-child(odd) {
     background-image: url(https://data.whicdn.com/images/344427429/original.gif);
    background-position: center;
 }

 .flex-container::before{
     content: "";
     width: calc(var(--s)/2 + var(--m));
     float: left;
     height: 120%;
     shape-outside: repeating-linear-gradient(
         #0000 0 cal(var(--f) - 3px),
         #000 0 var(---f));
 }

.img-american{
    width: 300px; 
    height: 500px;
}
.font{ 
    font-size: small;
}

.link-american{
    border: solid transparent;
    background-color: transparent;
    padding: 25%;
    font-size: 10px;
    cursor: pointer;
}

.link-american:hover {transform: scale(1.5);} 