.showHead {
    /* position: "relative";
    font-family: 'Arima Madurai', cursive;
   
    font-style: normal;
    font-weight: 800;
    */
    /* line-height: 18.375rem; */
    font-family: "sansita", italics;
    color: #E47610;
    /* text-shadow: inset -2, 3, 2 rgba(96, 48, 3, 0.8); */
    text-shadow: -4px 4px 6px rgba(92, 46, 4, 0.8);
    -webkit-text-stroke: 1px rgb(60, 32, 6, 0.5);
    font-size: 100px;
    position: absolute;
    text-align: center;
    bottom: 295px;
    left: 0px;
   
    color: #ef8624;
    -webkit-text-stroke: 5.5px rgba(150, 73, 2, .25);
   
  }
 
 .product {
    /* background-color: #5e2f0f43; */
    font-family: "sansita", italics;
    color: #ef8624;
    text-shadow: -4px 4px 6px rgba(92, 46, 4, 0.8);
    -webkit-text-stroke: 1px rgba(60, 32, 6, 0.313);
    position: absolute;
    top: 275px;
    left: 350px;
  }
 
  .prodImg {
    max-height: 475px;
    max-width: 225px;
    position: absolute;
    bottom: 0px;
    left: -300px;
  }
